.Banner3{
    background-image: url(Images/ban3.png);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 120px;
    display: flex;
}

.banhead3{
    width: 370px;
    height: 128px;
    margin-left: 110px !important;
    margin-top: 275px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    color: white !important;
}
.down_arrow{
    margin-top: 97px;
    margin-left: 231px;
    margin-bottom: 143.5px;
}
.bi{
    color: white;
}
.ban_rightpart{
position: relative;
}
.bg_img{
    position: absolute;
    width: 567px;
    margin-left: 200px;
    margin-top: 40px;
}

.player_img{
    position: absolute;
    margin-top: 60px;
    margin-left: 370px;
}
.ellipse_img{
    position: absolute;
    margin-top: 500px;
    margin-left: 360px;
}


