.banner8{
    margin-top: 228px;
    margin-left: 7%;
    margin-right: 7%;
    background: #0E0C16;
    /* height: 692px; */
}
.pr-35{
    padding-right: 35px;
}
.popular_content{
    margin-left: 65px;
    /* position: relative; */
}
.popularimg{
    top: 44px;
    left: 65px;
    position: absolute;
}
.popu_head{
    width: 321px;
    margin: 56px 0px 85px 80px !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    /* text-transform: capitalize; */
}
.curveimg{
    position: absolute;
    left: 340px;
    top: 109px;
}
.chatimg{
    position: absolute;
    left: 40px;
    bottom: 0;
}
.popu_para1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: capitalize;

}
.right_content{
    margin: 66px 0 0px;
}
.popu_para2{
    width: 566px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #9F9EA2;
    text-transform: capitalize;
    margin: 0px 0 30px;
}
.phone_content{
    position: relative;
    height: 642px;
}
.img-content{
    display: flex;
}
.imgpart{
    margin-top: -4px;
}
.closeimg{
    width: 30px;
    height: 30px;
}
.line1{
    height: 0;
    border: 0.1px solid #999999;
    opacity: 0.1;
    margin-top: 20px;
}
.img-content2{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contentpart2{
    width: 470px;
    height: 22px;
}
.popu_para3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 25px 0px 25px 0px;
    /* width: 514px;
    height: 22px; */
}
.imgpart2{
    margin-left: 19%;
    margin-top: -4px;
}
.plusimg{
    width: 30px;
    height: 30px;
}
.line2{
    width: 625px;
    height: 0;
    border: 0.1px solid #999999;
    opacity: 0.1;
    /* margin-top: 17px; */
}