/* Card alignment */

.card_banner{
    display: flex;
    width: 100%;
}
.card_col1{
    width: 30%;
    padding-left: 7%;
}
.card_col2{
    width: 40%;
    padding-left: 3.5%;
}
.card_col3{
    width: 30%;
    /* padding-right: 7%; */
}
.card1{
    width: 316px;   
    height: 371px;
    border: none;
    margin-top: 89.31px;
    background: linear-gradient(180deg, rgba(26, 24, 34, 0) 0%, rgba(51, 53, 56, 0.75) 29.87%, #333538 61.66%);
}
.card_img{
    width: 316px;
}

.card_body{
    background: #0E0C16;
    /* position: absolute; */
    width: 316px;
    height: 217px;
    /* top: 62%; */
}
.card_content1{
    width: 210px;
    height: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 20px;
}
.card_content2{
    width: 280px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #BBBBBB;
    padding-left: 20px;
    padding-top: 8px;
    margin-bottom: 48.13px;
}
.card2{
    width: 316px;   
    background: linear-gradient(180deg, rgba(26, 24, 34, 0) 0%, rgba(51, 53, 56, 0.75) 29.87%, #333538 61.66%);
}
.card_img2{
    margin-left: 30px;
    width: 284px;
    height: 250px;
}
.card_body2{
    background: #0E0C16;
    /* position: absolute; */
    width: 316px;
    height: 210px;
    top: 75%;
}
.card3{
    margin-top: 89.31px;
    margin-left: 5%;
    /* padding-right: 13%; */
}

.card4{
    width: 316px;
    height: 446px;
    margin-left: 15%;
    margin-top: 65.76px;
    /* border: 1px solid white; */
    background: linear-gradient(180deg, rgba(26, 24, 34, 0) 0%, rgba(51, 53, 56, 0.75) 29.87%, #333538 61.66%);
}
.card_body3{
    background: #0E0C16;
    height: 213px;
}
.card5{
    margin-top: 48px;
    background: linear-gradient(180deg, rgba(26, 24, 34, 0) 0%, rgba(51, 53, 56, 0.75) 29.87%, #333538 61.66%);
    width: 316px;
    height: 411px;
}
.card_body4{
    background: #0E0C16;
    height: 217px;
}
.card6{
    width: 316px;
    margin-top: 119px;
}

