.footer{
    margin-top: 120px;
    border-top: 1px solid #2E2B39;
    padding-left: 7%;
    display: flex;
}
.footer_leftpart{
    position: relative;
    width: 50%;
    /* border: 1px solid white; */
    padding-top: 80px;
    /* padding-right: ; */
    
    /* padding: 80px;     */
}
.rect_img{
    margin-top: 26px;
    position: absolute;
}
.footer_head{
    width: 585px;
    height: 225px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
}

.downloadapp{
    width: 159px;
    height: 40px;
    transform: skew(-6deg);
    background: #0E4CD9;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF; 
    border: none;
    margin-top: 250px;
}
.footer_rightpart{
    background: #0E0C16;
    width: 45%;
    margin-left: 115px;
}
.footer_head2{
    padding-top: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-left: 30px;
}
.footer_para{
    width: 440px;
    /* height: 48px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #9F9EA2;
    padding-left: 30px;
}
.chat_msg{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 5% !important;
    margin-left: 30px;
}
.mail_id{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
    color: #9F9EA2;
    padding-left: 30px;
}
.mob_msg{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 5% !important;
    margin-left: 30px;
}
.mob_num{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
    color: #9F9EA2;
    padding-left: 30px;
}
.links{
    margin: 46px 94px 72px 95px;
    width: 430px;
    /* border: 1px solid white; */
}
.notice_link{
    width: 139px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #9F9EA2;
}
.service_link{
    width: 131px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #9F9EA2;
}
.policy_link{
    width: 114px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #9F9EA2;
}